@import '../../styles/colors';
@import '../../styles/mixin';
@import '../../styles/fonts';

.conatiner {
  box-sizing: border-box;
  margin-top: 32px;
  flex-direction: column;
  display: flex;
  gap: 24px;
  width: 904px;
  margin-left: auto;
  margin-right: auto;
  > .heading {
    @include space-between();
    > .expandNetwork {
      @include font-semibold-3xl();
      color: $gray-10;
    }
  }
  > .description {
    > .expandNetworkDescription {
      width: fit-content;
      color: $gray-100;
      @include font-normal();
    }
  }
  .top {
    .connection {
      @include space-between();
      .profileConnection {
        height: 40px;
        gap: 16px;
        @include space-between();
      }
      .filter {
        @include font-semibold-xl();
        color: $gray-10;
      }
    }
  }
}
