@import '../../../styles/colors';
@import '../../../styles/mixin';
@import '../../../styles/fonts';

.authButton {
  @include center-flex();
  gap: 24px;
  margin-top: 32px;
}
.googleImg {
  margin-right: 5px;
}
.buttonOutlook {
  opacity: 50%;
  width: 290.5px;
}
.google {
  width: 290.5px;
}
