@import '../../styles/colors';
@import '../../styles/mixin';
@import '../../styles/fonts';

.popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include center-flex;
  .popUp {
    background: $Gradient-Pop;
    width: 873px;
    text-align: center;
    @include border-radius();
    border: 1px solid $gray-800;
    .popContent {
      @include space-evenly;
      padding: 32px 32px 40px 32px;
    }
  }
}
