@import '../../styles/colors';
@import '../../styles/mixin';
@import '../../styles/fonts';

.container {
  box-sizing: border-box;
  margin-top: 24px;
  gap: 24px;
  width: 904px;
  margin-left: auto;
  margin-right: auto;
  > .contactProfile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }
  > .connectionProfile {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    .connectionHead {
      height: 77px;
      > .heading {
        @include font-semibold-3xl();
        color: $gray-10;
        flex: 1 1 auto;
        min-width: 300px;
      }
      > .description {
        width: fit-content;
        color: $gray-50;
        @include font-normal();
        flex: 1 1 auto;
        text-align: justify;
        margin-top: 8px;
      }
    }
  }

  .contactTop {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
    > .profile {
      @include font-semibold-xl();
      color: $gray-10;
      flex: 1 1 auto;
      min-width: 200px;
    }

    > .searchAndfilters {
      width: 100%;
      max-width: 483px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;
    }
  }
  > .nextButton {
    display: flex;
    justify-content: flex-end;
    height: 69px;
    border: 1px solid $gray-800;
    border-radius: 8px 8px;
    background: linear-gradient(212.26deg, rgba(73, 73, 73, 0.2) 0%, rgba(73, 73, 73, 0) 99.04%);
    backdrop-filter: blur(16px);
  }
}
@media (max-width: 1024px) {
  > .profileTop {
    max-width: 850px;
  }
}
