@import '../../../../../../styles/colors';
@import '../../../../../../styles/fonts';
@import '../../../../../../styles/mixin';

.experiencesContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 16px 0px 0px;
  gap: 20px;
  width: 100% !important;
  margin-top: 16px;
}
.profileImage {
  width: 34px;
  height: 34px;
}
.right {
  width: 187px;
  height: 18px;
  gap: 4px;
}
.title {
  font-size: 12px;
  font-weight: 500;
  color: $gray-25;
  @include fontAlpha();
}
.company {
  background: none;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: $gray-300;
  @include fontAlpha();
}
