@import '../../../../styles/colors';
@import '../../../../styles/fonts';
@import '../../../../styles/mixin';

.profileBody {
  display: flex;
  flex-direction: column;
  width: 409px;
  height: 335px;
  gap: 12px;
  padding: 32px;
  > .experienceWrapper {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 271px;
    gap: 24px;
    > .experienceHeading {
      width: 345px;
      height: 27px;
    }
    > h3 {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: $gray-25;
      @include fontAlpha();
    }
  }
}
