@import '../../../styles/colors';
@import '../../../styles/mixin';

.container {
  width: 378px;
  height: 893px;
  background: linear-gradient(212.26deg, rgba(73, 73, 73, 0.2) 0%, rgba(73, 73, 73, 0) 99.04%);

  > .addLabel {
    background: none;
    border: 1px solid $Orange-500;
    color: $Orange-500;
    padding: 10px 20px;
    width: 354px;
    @include font-sm();
  }
}
