@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/mixin';

.Cardcontainer {
  //   @include justify-space-between();
  width: 488px;
  height: 240px;
  padding: 20px 24px;
  border: 1px solid $gray-700;
  border-radius: 16px;
  gap: 24px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $gray-800;
  }
  .Userprofile {
    display: flex;
    justify-content: space-between;
    .Usercard {
      display: flex;
      .Profileimg {
        border-radius: 100px;
      }
      .Profile {
        margin-left: 12px;
        h5 {
          @include fontAlpha();
          font-size: 20px;
          line-height: 30px;
          font-weight: 500;
          color: $gray-10;
        }
        p {
          @include fontAlpha();
          margin-top: 4px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          margin-left: 2px;
          color: $gray-25;
        }
        .Locationchange {
          @include fontAlpha();
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          margin-left: 10px;
          color: $gray-100;
          margin-top: 4px;
          .Location {
            position: relative;
            top: 3px;
            right: 5px;
          }
        }
      }
    }
  }
  .Separator {
    margin: 16px 0;
    border: none;
    height: 1px;
    background-color: $gray-800;
  }

  .Bussinessimpact {
    margin-top: 16px;
    .Impacttitle {
      @include space-between();
      .Bussinessalert {
        display: flex;
        justify-content: space-between;
        width: 205px;
        h5 {
          @include fontAlpha();
          font-size: 14px;
          color: $gray-100;
          line-height: 21px;
          font-weight: 400;
        }
      }
      p {
        @include fontAlpha();
        background-color: $gray-700;
        color: $blue-400;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        padding: 2px 10px;
        border-radius: 80px;
      }
    }
  }

  .Scores {
    @include space-between();
    margin-top: 16px;

    .Score {
      //   text-align: center;
      span {
        @include fontAlpha();
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $gray-100;
      }
    }
  }
}

.Followaccount {
  width: 72px;
  height: 34px;
  &.followed {
    @include justify-space-between();
    width: 103px;
    height: 32px;
    border-color: $Orange-500;
    color: $Orange-500;
    background: none;
  }
}
