@import '../../styles/colors';
@import '../../styles/mixin';
@import '../../styles/fonts';

.wrapper {
  @include center-flex;
  height: 95vh;
  padding: 20px;
  .welcome {
    padding: 100px 120px;
    border: 1px solid $gray-700;
    border-radius: 16px;
  }
}
