@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/mixin';

.container {
  @include justify-space-between();
  width: 440px;
  height: 118px;
  padding: 24px 16px;
  border: 1px solid $gray-700;
  border-radius: 8px;
  margin-top: 24px;

  > .profileInfo {
    width: 341px;
    display: flex;
    > .cardBody {
      display: flex;
      position: relative;
      left: 16px;
      > .profileImage {
        border-radius: 100px;
      }
      > .textInfo {
        margin-left: 12px;
        > .profileName {
          @include font-semibold-sm();
          color: $gray-10;
        }
        > .profileHeadline {
          @include font-sm();
          margin-top: 8px;
          margin-left: 2px;
          color: $gray-50;
        }
      }
    }
  }
  > .closeButton {
    background: none;
    border: none;
    cursor: pointer;
    color: $gray-700;
    transition: color 0.2s ease-in-out;
  }
}
