@import '../../styles/colors';
@import '../../styles/mixin';
@import '../../styles/fonts';

.container {
  box-sizing: border-box;
  margin-top: 24px;
  gap: 24px;
  width: 904px;
  margin-left: auto;
  margin-right: auto;
  > .connectionProfile {
    display: flex;
    flex-direction: column;

    .connectionHead {
      height: 77px;
      > .backButton {
        background: none;
        border: none;
        position: absolute;
        left: 430px;
        top: 33px;
        cursor: pointer;
      }
      > .heading {
        @include font-semibold-3xl();
        color: $gray-10;
        flex: 1 1 auto;
        min-width: 300px;
      }
      > .description {
        width: fit-content;
        color: $gray-50;
        @include font-normal();
        flex: 1 1 auto;
        text-align: justify;
        margin-top: 8px;
      }
    }
  }

  .contactTop {
    display: flex;
    flex-direction: column;
    width: 878px;
    gap: 24px;
    margin-top: 32px;
    > .linkedIn {
      width: 878px;
      height: 24px;
      > .heading {
        @include fontAlpha();
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
      }
    }
    > .profile {
      @include font-semibold-xl();
      color: $gray-10;
      flex: 1 1 auto;
      min-width: 200px;
    }

    > .searchAndfilters {
      width: 100%;
      max-width: 483px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;
    }
  }
}
@media (max-width: 1024px) {
  > .profileTop {
    max-width: 850px;
  }
}
