@import '../../../../styles/colors';
@import '../../../../styles/fonts';
@import '../../../../styles/mixin';

.bdAppRight {
  width: 380px;
  text-align: left;

  .bdAllow {
    .bdText {
      @include font-semibold-xl();
      color: $gray-15;
    }
  }
  .permissionContainer {
    color: $gray-15;
    margin-top: 25px;
  }
  .makeHead {
    margin-top: 24px;
    width: 324px;
    .bdText {
      @include font-semibold-xl();
      color: $gray-15;
    }
    .textPara {
      margin-top: 12px;
      .description {
        @include font-sm();
        color: $gray-200;
      }
    }
  }
}
