@import '../../styles/colors';
@import '../../styles/mixin';

.container {
  box-sizing: border-box;
  width: 904px;
  margin: auto;
  > .selectedProfile {
    margin-top: 24px;
    > .selectedHeading {
      @include font-semibold-3xl();
    }
  }
  > .cardContainer {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
