@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/mixin';

.impactTitle {
  margin-top: 16px;
  @include space-between();
  .bussinessAlert {
    display: flex;
    .impactHeading {
      @include font-sm();
      color: $gray-100;
    }
    .score {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      color: $gray-10;
    }
  }
  .followAccount {
    width: 72px;
    height: 34px;

    &.followed {
      @include justify-space-between();
      width: 103px;
      height: 32px;
      border-color: $Orange-500;
      color: $Orange-500;
      background: none;
    }
  }
}
