@import '../../../styles/colors';
@import '../../../styles/mixin';
@import '../../../styles/fonts';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  bottom: 16px;
}
