@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/mixin';

.Tabcomponent {
  display: flex;
  position: relative;
  margin-top: 24px;
  width: 238px; // Make it responsive if needed
  height: 34px;
  gap: 4px;
  border-bottom: 2px solid $gray-700;

  .Tabbutton {
    @include fontAlpha();
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    transition: color 0.3s ease;
    color: $gray-300;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

    &:hover {
      color: #fff;
    }

    &.active {
      color: #ff914d; // Active tab color
    }
  }

  .Tabindicator {
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 5px;
    height: 4px;
    background-color: $orange-400;
    border-radius: 32px;
    width: calc(100% / 3 - 4px);
    transform: translateX(calc(var(--active-index, 0) * 100%));
  }
}
