@import '../../../../styles/colors';
@import '../../../../styles/fonts';
@import '../../../../styles/mixin';

.scores {
  @include justify-space-between();
  .score {
    margin-top: 4px;
    span {
      @include font-sm();
      margin-right: 135px;
      position: relative;
      top: 8px;
      color: $gray-100;
    }
  }
}
