@import '../../../styles/colors';
@import '../../../styles/mixin';

.permissionItem {
  @include space-between;
  margin-top: 25px;
  .text {
    flex: 1;
    font-size: 14px;
    line-height: 21px;
    color: $gray-15;
    margin-left: 12px;
  }
}
