@import '../../../../styles/colors';
@import '../../../../styles/fonts';
@import '../../../../styles/mixin';

.eventDetail {
  width: 657px;
  border: 1px solid $gray-800;
  border-radius: 8px;
  background: $Gradient-Grey-Black;
  padding: 20px 16px;
  margin-top: 16px;
  .separator {
    margin: 16px 0;
    border: none;
    height: 1px;
    background-color: $gray-800;
  }
}
