@import '../../styles/colors';

.container {
  // display: flex;
  // justify-content: flex-end;
  // height: 100vh;

  position: relative;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  position: sticky;
  bottom: -10px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: auto;
  width: 904px;
  border: 1px solid $gray-800;
  border-radius: 8px 8px;
  background: linear-gradient(212.26deg, rgba(73, 73, 73, 0.2) 0%, rgba(73, 73, 73, 0) 99.04%);
  backdrop-filter: blur(16px);
}
