@import '../../styles/colors';
@import '../../styles/mixin';
@import '../../styles/fonts';

.expandNetwork {
  margin: 24px 136px;
}
.container {
  display: flex;

  > .network {
    > .exploreNetwork {
      @include fontAlpha();
      font-weight: 600;
      font-size: 30px;
      color: $gray-10;
      line-height: 150%;
      letter-spacing: 0%;
      vertical-align: middle;
    }
    > .paragraph {
      @include fontAlpha();
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
      color: $gray-25;
      margin-top: 8px;
    }
  }
}
.selectedContanier {
  display: flex;
  justify-content: space-between;
  width: 772px;
  margin-top: 24px;
  > .searchAndFilter {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
}
