@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/mixin';

.paginationContainer {
  @include space-between();
  height: 36px;
  border-radius: 4px;
  color: $gray-25;
  @include font-sm();

  .paginationControls {
    @include center-flex();
    background: $gray-800;
    height: 36px;
    border: 1px $gray-700;
    border-radius: 4px;
    @include fontAlpha();
  }

  .paginationButton {
    background: $gray-800;
    border: 1px $gray-700;
    color: $gray-100;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    @include font-sm();

    &:hover:not(:disabled) {
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  .pageNumberButton {
    @include font-normal();
    background: none;
    border: none;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    border-left: 1px solid $gray-700;
    border-right: 1px solid $gray-700;
    cursor: pointer;

    &.activePage {
      @include fontAlpha();
      border: 1px $gray-700;
      background: $gray-500;
      color: white;
    }
  }
  .ellipsis {
    color: #a0a0a0;
    padding: 5px;
  }
}
