@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/mixin';

.Paginationcontainer {
  @include space-between();
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  color: $gray-25;
  @include fontAlpha();
}

.paginationControls {
  @include center-flex();
  background: $gray-800;
  height: 36px;
  border: 1px $gray-700;
  border-radius: 4px;
  @include fontAlpha();
}

.Paginationbutton {
  background: $gray-800;
  border: 1px $gray-700;
  color: $gray-100;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  @include fontAlpha();

  &:hover:not(:disabled) {
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.pageNumberButton {
  @include fontAlpha();
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 12px;
  line-height: 24px;
  border-radius: 4px;
  border-left: 1px solid $gray-700;
  border-right: 1px solid $gray-700;
  cursor: pointer;

  // &:hover {
  //   @include fontAlpha();
  //   background: $gray-500;
  //   color: #ffffff;
  // }

  &.activePage {
    @include fontAlpha();
    border: 1px $gray-700;
    background: $gray-500;
    color: white;
  }
}

.ellipsis {
  color: #a0a0a0;
  padding: 5px;
}
