@import '../../styles/colors';
@import '../../styles/mixin';
@import '../../styles/fonts';

.profileCard {
  @include center-flex;
  height: 95vh;
  padding: 20px;

  .profileContent {
    padding: 80px 100px;
    border: 1px solid $gray-800;
    border-radius: 16px;
    // background: $Gradient-Profile;
    @include justify-center;

    .profileData {
      text-align: justify;
      width: 498px;

      .title {
        @include fontAlpha();
        color: $white-color;
        font-size: 35px;
        line-height: 54px;
        font-weight: 500;
      }
      .description {
        @include font-sm();
        color: $gray-100;
        margin-top: 16px;
      }
    }
  }
}
