@import '../../styles/colors';
@import '../../styles/mixin';

.navbar {
  @include space-between;
  box-sizing: border-box;
  border-bottom: 2px solid $Gradient-bottom-Nav;
  padding: 4px 32px;
  z-index: 100;
}
