@import '../../../styles/colors';
@import '../../../styles/mixin';
@import '../../../styles/fonts';

.dropDown {
  position: absolute;
  max-height: 345px;
  overflow-y: auto;
  overflow-x: hidden;
  background: $gray-800;
  border: 1px solid $gray-700;
  border-radius: 8px;
  margin-top: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  .section {
    .sectionTitle {
      padding: 8px 16px;
      p {
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: $gray-25;
      }
    }
    .profileItem {
      @include space-between();
      padding: 8px 16px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      gap: 12px;
      cursor: pointer;
      .enetrIcon {
        visibility: hidden;
      }
      &:hover {
        background-color: $gray-700;
        .enetrIcon {
          visibility: visible;
          background: $gray-700;
        }
      }
    }
  }
}
.profileDetails {
  flex-grow: 1;
}

.contactName {
  display: block;
  @include font-sm();
  color: $gray-100;
}

.contactRole {
  display: block;
  font-size: 12px;
  color: $gray-100;
}

.profileImg {
  border-radius: 100px;
}
