@import '../../../styles/colors';
@import '../../../styles/mixin';
@import '../../../styles/fonts';

.Dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 283px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background: $gray-800;
  border: 1px solid $gray-700;
  border-radius: 4px;
  margin-top: 8px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  .Section {
    .Sectiontitle {
      padding: 8px 16px;
      p {
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: $gray-25;
      }
    }
    .Profileitem {
      @include space-between();
      padding: 10px;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      // &:hover {
      //   background-color: $gray-25;
      // }
    }
    .Enter {
      visibility: hidden;
    }
    &:hover {
      background: $gray-700;
      .Enter {
        visibility: visible;
      }
    }
  }
}

//   .Section {
//     .Sectiontitle {
//       padding: 8px 16px;
//       p {
//         font-size: 12px;
//         font-weight: 300;
//         line-height: 18px;
//         color: $gray-25;
//       }
//     }

//     .Item {
//       padding: 8px 16px;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       border-radius: 4px;
//       cursor: pointer;
//       width: 283px;
//       height: 40px;
//       gap: 12px;

//       p {
//         font-size: 14px;
//         line-height: 21px;
//         font-weight: 600;
//         color: $gray-25;
//       }
//       .Enter {
//         visibility: hidden;
//       }
//       &:hover {
//         background: $gray-700;
//         .Enter {
//           visibility: visible;
//         }
//       }
//     }
//   }

//   .NoResults {
//     padding: 8px 16px;
//     font-size: 12px;
//     color: $gray-400;
//   }
// }

// .Contactname {
//   font-size: 14px;
//   font-weight: 600;
//   line-height: 21px;
//   color: $gray-25;
// }

// .Contactrole {
//   font-size: 12px;
//   color: $gray-400;
//   padding-left: 10px;
// }

// .hr {
//   margin: 0;
//   border: none;
//   height: 1px;
//   background-color: $gray-600;
// }

.ProfileImage {
  margin-right: 12px;
}

.ProfileImg {
  border-radius: 50%;
}

.ProfileDetails {
  flex-grow: 1;
}

.ContactName {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: $gray-100;
}

.ContactRole {
  display: block;
  font-size: 12px;
  color: $gray-100;
}
