@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/mixin';

.Cardcontainer {
  @include justify-space-between();
  width: 488px;
  height: 118px;
  padding: 20px 16px;
  border: 1px solid $gray-700;
  border-radius: 16px;
  gap: 12px;
  margin-top: 10px;
  .Userprofile {
    display: flex;
    .Profileimg {
      width: 48px;
      height: 48px;
      border-radius: 100px;
    }
    .Profile {
      margin-left: 12px;
      h5 {
        @include fontAlpha();
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: $gray-10;
      }
      p {
        @include fontAlpha();
        margin-top: 8px;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        margin-left: 2px;
        color: $gray-50;
      }
      .Local {
        display: flex;
        .Location {
          position: relative;
          bottom: 4px;
        }
        span {
          @include fontAlpha();
          margin-top: 8px;
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
          margin-left: 2px;
          color: $gray-50;
          margin-left: 2px;
        }
      }
    }
  }
}
.Followaccount {
  width: 72px;
  height: 34px;
}
