@import '../../../../styles/colors';
@import '../../../../styles/fonts';
@import '../../../../styles/mixin';

.profileBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 409px;
  padding: 48px;
  height: 298px;

  > .experienceWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    > h3 {
      font-size: 12px;
      font-weight: 600;
      color: $gray-25;
      @include fontAlpha();
    }
  }
}
