@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/mixin';

.shimmerHead {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  gap: 24px;
  width: 904px;
  margin-left: auto;
  margin-right: auto;
  .profileCardHead {
    gap: 16px;
    padding: 0px;
    margin-top: 16px;
    max-height: 600px;
    overflow-y: auto;
  }
}
.footerHead {
  @include space-between();
  margin-top: -2px;
  .leftFoot {
    width: 173px;
    height: 30px;
    border-radius: 8px;
    background: $gray-800;
    @include shimmerAnimation();
  }
  .rightFoot {
    width: 331px;
    height: 40px;
    border-radius: 8px;
    background: $gray-800;
    @include shimmerAnimation();
  }
}

// Shimmer animation definition
@keyframes shimmer {
  0% {
    background-position: -1500px 0;
  }
  100% {
    background-position: 1500px 0;
  }
}
