@import '../../../styles/colors';

.progressBar {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 212px;
  margin-top: 24px;
  height: 4px;
  .segment {
    width: 17.6px;
    height: 4px;
    background-color: $gray-700;
    border-radius: 4px;
  }
  .active {
    background-color: $blue-800;
  }
}
