@import '../../../styles/colors';

.progressBar {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  // align-items: center;
  // width: 450px;
  margin-top: 24px;
  height: 4px;
  .segment {
    width: 56.2px;
    height: 4px;
    background-color: $gray-700;
    border-radius: 4px;
  }
  .active {
    background-color: $blue-800;
  }
}
