@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/mixin';

.userProfile {
  display: flex;
  justify-content: space-between;

  .userCard {
    display: flex;
    height: 81px;
    width: 335px;

    .profileImg {
      border-radius: 100px;
    }

    .profile {
      margin-left: 12px;

      .tooltip {
        width: 335px;
        position: relative;
        display: inline-block;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .tooltipText {
          @include tooltip();
        }
        &:hover .tooltipText {
          visibility: visible;
          opacity: 1;
        }
      }

      .profileElispse {
        @include elipse();
        &:hover {
          opacity: 0.3;
        }
      }
      .profileName {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        color: $gray-10;
      }
      .profileTitle {
        @include font-sm();
        margin-top: 6px;
        margin-right: 15px;
        color: $gray-25;
      }

      .locationContainer {
        display: flex;
        @include font-sm();
        color: $gray-100;
        position: relative;
        bottom: 15px;
        margin-top: 20px;

        .location {
          position: relative;
          right: 4px;
          top: 3px;
        }
      }
    }
  }

  .followAccount {
    width: 72px;
    height: 34px;

    &.followed {
      @include justify-space-between();
      width: 103px;
      height: 32px;
      border-color: $Orange-500;
      color: $Orange-500;
      background: none;
    }
  }
}
