@import '../../../styles/colors';
@import '../../../styles/mixin';
@import '../../../styles/fonts';

.Profilefollow {
  @include space-between();
  h5 {
    @include fontAlpha();
    font-size: 30px;
    line-height: 45px;
    color: $gray-10;
    font-weight: 600;
  }
  .Followbutton {
    background-color: $gray-800;
    color: $gray-300;
    width: 240px;
    &.suggested {
      background-color: $orange-400;
      color: black;
    }
  }

  .Profiledescription {
    // margin-top: 16px;
    p {
      @include fontAlpha();
      width: fit-content;
      color: $gray-100;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.connectionsrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; // Spacing between cards
  justify-content: space-between;
  margin-top: 16px;
  max-height: 585px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 30px;
  .connectioncolumn {
    flex: 1 1 calc(50% - 16px); // Ensure two columns
    max-width: calc(50% - 16px); // Maintain two cards per row
    box-sizing: border-box;
  }
}
