@import '../../../styles/colors';
@import '../../../styles/fonts';
@import '../../../styles/mixin';

.checkOut {
  width: 498px;
  display: flex;
  box-sizing: border-box;
  padding: 5px 10px;
  margin-top: 24px;
  .checkDescription {
    @include font-sm();
    color: $gray-15;
    margin-left: 5px;
    margin-top: -2px;
  }
}
