@import '../../../../styles/colors';
@import '../../../../styles//mixin';
@import '../../../../styles//fonts';

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 315px;
  height: 313px;
  border-right: 1px solid $gray-800;
}
.profilePictureWrapper {
  display: flex;
  justify-content: center;
  padding: 14px;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;

  > .titleSection {
    @include fontAlpha();
    color: $gray-25;
    font-weight: 600;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background: none;
  }
}
.title {
  display: flex;
  justify-content: center;
  gap: 12px;
  > p {
    @include font-sm();
    color: $gray-100;
    display: inline;
    text-align: center;
    padding: 0;
  }
}
.location {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  color: $gray-100;
  @include fontAlpha();
}
.viewFullProfile {
  background: transparent;
  color: $Orange-500;
  font-size: 12px;
  font-weight: 500;
  @include fontAlpha();
}
