@import '../../styles/colors';
@import '../../styles/mixin';
@import '../../styles/fonts';

.profileTop {
  box-sizing: border-box;
  margin-top: 32px;
  flex-direction: column;
  display: flex;
  gap: 24px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  .profileFollow {
    @include space-between();
    .profileHaeding {
      @include font-semibold-3xl();
      color: $gray-10;
    }
  }
  .profileDescription {
    .profileDesc {
      width: fit-content;
      color: $gray-100;
      @include font-normal();
    }
  }
  .contactTop {
    .contactProfile {
      @include space-between();
      .profile {
        @include font-semibold-xl();
        color: $gray-10;
      }
      .searchAndfilters {
        width: 483px;
        display: flex;
        justify-content: space-between;
      }
    }
    .connectionGrid {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: space-between;
      margin-top: 16px;
      // max-height: 585px;
      // overflow-y: auto;
      // overflow-x: hidden;
      // padding-right: 30px;
    }
  }
}
